* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.parent {
  border: 2px black dotted;
  display: inline-block;
  margin-bottom: 20px;
}
.box {
  display: inline-block;
  background-color: blueviolet;
  width: 100px;
  height: 100px;
}
#two {
  background-color: pink;
}
.title-container {
  border: 2px black solid;
  border-radius: 8px;
  background-color: black;
  color: white;
  width: 200px;
  height: 50px;
  padding: 14px 8px 14px 12px;
  position: relative;
  left: 125px;
  top: 25px;
}
.text-container {
  border: 2px pink solid;
  border-radius: 8px;
  background-color: antiquewhite;
  width: 500px;
  height: 250px;
  padding: 40px 10px;
}