/* Aquí declaramos las variables*/
:root {
  --primary-color: #003476;
  --secondary-color: #b4d2f7;
  --header-size: 4rem;
  --font: 1.8rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
header {
  width: 100vw;
  height: 15vh;
  /* background-color: #003476;  Será el color principal */
  background-color: var(--primary-color); 
}
main {
  width: 100vw;
  height: 70vh;
 /* font-size: 1.8rem;  Este tamaño lo heredará nuestro <p> */
 font-size: var(--font);
}

h1 {
  /* font-size: 4rem; */
  font-size: var(--header-size);
  color: var(--primary-color);
}

footer {
  width: 100vw;
  height: 15vh;
 /* background-color: #b4d2f7;  Será el color secundario */
 background-color: var(--secondary-color);
}
