* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  padding: 10px;
  color: purple;
  font-family: serif;
  margin-bottom: 10px;
}
.title {
  font-size: 20px;
  font-family: monospace;
}
.nav {
  margin-top: 10px;
  list-style-type: none;
  padding-left: 0;
}

.nav li {
  display: inline-block;
}
.nav a {
  color: white;
  background: #13a4a4;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}
.nav .blog {
  background-color: red;
}
h2 {
padding: 10px 0;
}
.specificity-title, .order-title {
  padding-top: 10px;
}
.specificity__item, .style-orders__item {
  padding-left: 20px;
}
