html {
    font-size: 62.5%;
}
h2, h4 {
    font-size:2.4rem;
}
.section {
    border: 1.8px solid red;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
p {
    font-size: 1.5rem;
}

img {
    width: 350px;
}
